*{
    color: black;
}
.sideBar {
    background-image: linear-gradient(180deg, #0531f5, #00adef);
}

.onlineUsers {
    background-color: #fffdfd;
} 
.messageInputBox {
    background-color: #f7f6f6;
} 

.message-right {
    background-color: #b4d6ed;
}

.chatCardHeader {
    background-color: #fffdfd;
}

.chatCardBody, .messageInput {
    background-color: #f5f2ff;
}

.message-left {
    background-color: #fffcfc;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b4d6ed; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b4d6ed; 
  }

  #welcomeCard > div {
    background-color: #f5f2ff;
  }